.db-data {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 2rem 2rem;
  gap: 15%;
  background-color: #111d19;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #1dd597;
}

.number-data-grouped {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: smaller;
}

.number-data-text {
  color: #c2c6c5;
  flex-basis: 50%;
}

.number-data-value {
  flex-grow: 1;
  padding-left: 1rem;
  text-align: left;
}

.delete-button {
  padding-top: 1rem;
}

@media screen and (min-width: 640px) {
  .column1 {
    width: 19rem;
  }
  .column2 {
    margin-right: 6rem;
  }
}

@media screen and (max-width: 641px) {
  .db-data {
    flex-direction: column;
  }

  .delete-button {
    text-align: center;
  }
}
